<h1>Edit your Information</h1>
<%= render partial: 'form' %>
<br />
<button><%= link_to 'Cancel Edit', user_path %></button>
<br /><br />
<button><%= link_to("Delete User", @user, method: :delete, data:{confirm: "Are you sure you want to delete this your account?"}) %></button>
