<% if @females != nil%>
  <% @females.each do |animal| %>
    <p> Name: <%= animal.name %></p>
    <p>Gender: <%= animal.gender %></p>
    <p>Altered: <%= animal.altered %></p>
  <% end %>
  <% else %>
    <h3>You don't have any female animals in the system</h3> 
<% end %>
